$color-teal: #6dffda;
$color-white: #fdfdfd;
$color-light-grey: #EBEBEB;
$color-dark: #1e1e1e;
$color-black: #131313;
$max-width: 1000px;
$sequel: Sequel, Arial, Helvetica, sans-serif;

@mixin centered {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @include smallerThanDesktop {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin smallerThanDesktop {
  @media (max-width: 1000px) {
    @content;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}