@use 'mixins';

.carousel {
    @include mixins.centered;
    @include mixins.flex-centered;
    height: 80vh;
    overflow: hidden;
    :root {
        --swiper-theme-color: #6dffda;
    }
    img {
        width: 100%;
    }
}