@use 'mixins';

.carousel {
    @include mixins.centered;
    height: 65vh;
    overflow: hidden;
    :root {
        --swiper-theme-color: #6dffda;
    }
    &__imageContainer {
        height: 65vh;
        overflow: hidden;
        @include mixins.flex-centered;
    }
    img {
        width: 100%;
    }
}