@use 'mixins';

.footer {
  height: auto;
  min-height: 24vh;
  padding: 5% 0;
  @include mixins.mobile {
    height: auto;
  }
  color: white;
  background: mixins.$color-black;
  display: flex;
  align-items: center;
  justify-content: center;

  &__left {
    margin-right: auto;
  }

  a {
    color: white;
  }
  p {
    display: flex;
    margin: 0;
    @include mixins.centered;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__logo_container {
    img {
      width: 120px;
    }
    @include mixins.mobile {
      @include mixins.flex-centered;
      img {
        width: 256px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    @include mixins.mobile {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 32px;
    width: 100%;
    @include mixins.mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__list > h5 {
    color: mixins.$color-teal;
    text-decoration: none;
    @include mixins.mobile {
      display: none;
    }
  }

  &__list > a {
    text-decoration: none;
    @include mixins.mobile {
      padding: 15px;
      font-size: 32px;
    }
  }

  &__socials {
    flex-direction: row;
    display: block;
  }

  &__social_link {
    width: 36px;
    margin: 12px;
    }
  
    &__social {
      width: 36px;
    }
}
