@use 'mixins';

.footer {
  height: 24vh;
  color: white;
  background: mixins.$color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  &__left {
    margin-right: auto;
  }

  a {
    color: white;
  }
  p {
    display: flex;
    margin: 0;
    @include mixins.centered;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__container {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 32px;
  }

  &__list > h5 {
    color: mixins.$color-teal;
    text-decoration: none;
  }

  &__list > a {
    text-decoration: none;
  }

  &__social_link {
    width: 32px;
    padding: 0 24px 0 0;
    }
  
    &__social {
      width: 32px;
    }
}
