@use 'mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@font-face {
  font-family: Sequel;
  src: url('../public/font/Sequel100Black-85.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

::selection {
  background: #6dffda83; 
}

:root {
    --swiper-theme-color: #6dffda !important;
}

.app {
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.product-list {
  @include mixins.centered;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Sequel, Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: mixins.$color-white;
}

.main {
  background-color: mixins.$color-dark;
}

.promotional-message {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center;

  h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 100px;
    @include mixins.mobile {
      font-size: 50px;
    }
    margin: 0;
    color: mixins.$color-teal;
  }
}

.product__price-button-container {
  display: flex;
  grid-area: button;
}