@use 'mixins';

.RightSection > a:first-child {
  @include mixins.mobile {
    display: none;
  }
}

.RightSection > a:nth-child(2) {
  display: none;
  @include mixins.mobile {
    display: block;
  }
}