@use 'mixins';

.promotionalmessage {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center;

  h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    @include mixins.mobile {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 100px;
    @include mixins.mobile {
      font-size: 120px;
    }
    margin: 0;
    margin-top: -24px;
    color: mixins.$color-teal;
  }

  p {
    margin: 8px;
    @include mixins.mobile {
      font-size: 40px;
    }
  }
}