@use 'mixins';

.partners {
    @include mixins.centered;
    margin-top: 10vh;
    margin-bottom: 10vh;

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    h5 {
        display: flex;
        flex-direction: column;
        margin: 12px 0 0 0;
        font-size: 16px;
    }

    h5 > b {
        font-family: mixins.$sequel;
        color: mixins.$color-teal;
    }

    h5 > i {
        font-size: 12px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 300px;
        margin: 5px;
        @include mixins.mobile {
            width: 80%;
            height: auto;
        }
        p {
            font-size: 12px;
            margin-bottom: 12px;
        }
    }

    &__image {
        width: 100%;
    }

    &__socials {
        display: flex;
        flex-direction: row;
    }
    
    &__socials > a {
        padding-right: 15px;
    }
}

