@use "mixins";
.product {
  display: flex;
  width: 46.8%;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  flex-direction: column;
  cursor: pointer;
  @include mixins.mobile {
    width: 100%;
  }

  :hover > h2 {
    text-decoration: underline !important;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4%;
    width: 100%;
  }

  &__title {
    margin: 0;
    grid-area: title;
    font-size: 32px;
    font-weight: bold;
    @include mixins.mobile {
      font-size: 48px;
    }
  }

  &__description {
    grid-area: description;
    line-height: 1.75rem;
    min-height: 140px;
    @include mixins.mobile {
      min-height: 0;
    }
  }

  &__options {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    input,
    select {
      padding: 8px;
      margin: 4px 0;
    }
  }

  &__price {
    color: mixins.$color-white;
    grid-area: price;
    font-size: 16px;
    font-weight: bold;
    @include mixins.mobile {
      font-size: 32px;
    }

    span {
      text-decoration: line-through;
      color: rgb(119, 119, 119);
    }
  }

  &__image {
    grid-area: image;
    object-fit: fill;
    z-index: 1;
    width: 100%;
    @include mixins.mobile {
      width: 100%;
    }
  }

  :hover > &__image {
    opacity: 0.8;
  }

  &__price-button-container {
    display: flex;
    grid-area: button;
  }

  &__button {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 20px;
    border: none;
    background-color: mixins.$color-teal;
    color: white;
    position: relative;
    cursor: pointer;

    &:hover {
      transition: 0.2s all;
      &:before {
        transform: scale(1.15, 1.4);
      }
    }

    &:before {
      content: " ";
      position: absolute;
      background-color: mixins.$color-teal;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -1;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
    }
  }

  @include mixins.mobile {
    flex-direction: column;
  }
}
.carousel {
  @include mixins.centered;
  width: 100%;
  :root {
    --swiper-theme-color: #6dffda;
  }
  &__imageContainer {
    overflow: hidden;
    @include mixins.flex-centered;
  }
  img {
    width: 100%;
  }
}
