@use 'mixins';

.shop {
  @include mixins.centered;
}

.productlist {
  @include mixins.centered;
  min-height: 60vh
}

.productlist2 {
  @include mixins.centered;
  @include mixins.flex-centered;
  display: flex;
  flex-wrap: wrap;
}
