.shop {
  width: 100%;
  height: auto;
  color: var(--white);
  flex-direction: column;
  align-items: flex-start;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.product {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  margin: 0 16px;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 24px;
}

.product__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.product__info h2 {
  margin-bottom: 0;
}

.carousel {
  width: 100%;
}

.carousel__imageContainer {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .product {
    width: 100%;
  }
}
