@use 'mixins';

.viewmore {
    @include mixins.centered;
    @include mixins.flex-centered;
    margin-top: 16px;
    margin-bottom: 32px;
}

.viewmore_button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 20px;
    border: none;
    background-color: mixins.$color-teal;
    color: white;
    position: relative;
    text-decoration: none;

    &:hover {
      transition: 0.2s all;
      &:before {
        transform: scale(1.15, 1.4);
      }
    }

    &:before {
      content: ' ';
      position: absolute;
      background-color: mixins.$color-teal;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -1;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
    }
}